@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --cor1: #FAE2CB;
    --cor2: #F42137;
    --cor3: #F59A1B;
    --cor4: #3B200B;
    font-family: Montserrat, Arial;
    background-color: black;
}






