@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --cor1: rgb(255, 187, 0);
    --cor2: #e4e4e4;
    --fontes: Montserrat, Arial, Verdana, Helvetica, sans-serif;
    font-size: 65.5%;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ---Start Responsivity---*/


/*Mobile - Portátil L*/
@media (min-width: 1440px) {
    :root{
        font-size: 100%;
    }
}

/*Mobile - Device G*/
@media (max-width: 425px) {
    :root{
        font-size: 55.5%;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }
}

/*Mobile - Device M*/
@media (max-width: 375px) {
    :root{
        font-size: 50%;
    }
}

/*Mobile - Device P*/
@media (max-width: 320px) {
    :root{
        font-size: 48%;
    }
}

/* ---End Responsivity---*/








