.sub__newsletter {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F1F1;
}

.sub__newsletter .container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
