.cabecalho__social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

.cabecalho__social__item {
    width: 28px;
    height: 28px;
}

.cabecalho__social__item--instagram {
    width: 22px;
    height: 22px;
}

.cabecalho__social__item--botao {
    border-style: none;
    border-radius: 10px;
    background-color: var(--cor4);
    color: white;
    padding:  0.8em 1.5em;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;

}