.carcategories__title__filters {
}

.carcategories__title__filters .container {
    display: flex;
    flex-wrap: wrap;
}

.carcategories__title__filters .container button {
    border: 0.1rem solid rgb(180, 180, 180) ;
    background-color: white;
    border-radius: 20px;
    padding: 1.6rem 3.2rem;
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 1.6rem;
}

.carcategories__title__filters .container button:hover {
    background-color: var(--cor1);
    transform: scale(0.9)
}

.carcategories__title__filters .container .active {
    background-color: var(--cor1);
    border-style: none;
}

.carcategories__title__filters .container h2 {
    margin-right: 4.8rem;
}