.card {
}

.card .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3.2rem auto;
}

.card__box {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 7px 10px 5px rgba(0, 0, 0, 7%);
    width: 23.5%;
    height: 35.2rem;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    transition: ease 0.3s;
}

.card__box:nth-child(4n) {
    margin-right: 0px;
}

.card__box:nth-child(4n+1) {
    margin-left: 0px;
}

