.card__text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 0;
}

.card__text__title {
    text-align: center;
    margin-bottom: 16px;
}

.card__text__title a {
    font-size: 2.4rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: bold;
    transition: ease 0.3s;
}

.card__text__title a:hover{
    color: var(--cor1);
}

.card__price__stars {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.card__price__stars p {
    font-size: 1.76rem;
}

.card__carconfig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color: #494949;
    margin-bottom: 24px;

}

.card__carconfig > div {
    display: flex;
    align-items: center;
}

.card__carconfig img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.card__button {
    text-align: center;
}

.card__button button {
    border-style: none;
    background-color: var(--cor1);
    border-radius: 10px;
    font-size: 1.76rem;
    width: 90%;
    height: 40px;
    cursor: pointer;
    transition: ease 0.3s;
}

.card__button button:hover {
    background-color: black;
    color: var(--cor1);
}
