.cabecalho__cta__signin {
    border: 1px solid var(--cor1);
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--cor1);
    cursor: pointer;
    transition: 0.3s;
}

.cabecalho__cta__signin:hover{
    transform: scale(1.1);
}

.cabecalho__cta__signup {
    margin-left: 1.5rem;
    border-style: none;
    background-color:var(--cor1);
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.cabecalho__cta__signup:hover{
    transform: scale(1.1);
}
