.cabecalho__nav ul {
    display: flex;
}

.cabecalho__nav ul li{
    margin-left: 40px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.6rem;
}

.cabecalho__nav ul li:hover{
    color:var(--cor1);
}