.cabecalho__cta__signin {
    border: 0.1rem solid var(--cor1);
    background-color: white;
    border-radius: 20px;
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--cor1);
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.3rem;
}

.cabecalho__cta__signin:hover{
    transform: scale(1.1);
}

.cabecalho__cta__signup {
    border: 0.1rem solid var(--cor1);
    margin-left: 2rem;
    border-style: none;
    background-color:var(--cor1);
    border-radius: 20px;
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.3rem;
}

.cabecalho__cta__signup:hover{
    transform: scale(1.1);
}
