.testiominal_card p {
    color: rgb(138, 138, 138);
    margin: 0 24px;
}

.testiominal_card h1 {
    font-weight: bold;
    color: var(--cor1);
} 

.testimonal__name__star__rate {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}