.bookoption__item__icon{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    margin-right: 0.8rem;
    position: relative;
    bottom: 0.32rem;
}

.bookoption__item__arrowicon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    margin-left: 1.28rem;
    position: relative;
    top: 0.16rem;
}

.bookoption__item__icon:hover, .bookoption__item__arrowicon:hover{
    transform: scale(1.1);
    cursor: pointer;
}