.bookoption__item__icon{
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 8px;
    position: relative;
    bottom: 3.2px;
}

.bookoption__item__arrowicon {
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-left: 12.8px;
    position: relative;
    top: 1.6px;
}

.bookoption__item__icon:hover, .bookoption__item__arrowicon:hover{
    transform: scale(1.1);
    cursor: pointer;
}