.bookoptions__item {
    display: flex;
    margin-left: 80px;
}

.bookoptions__item p {
    cursor: pointer;
    font-size: 1.6rem;
}

.bookoptions__item p:hover {
    transform: scale(1.1);
}

.bookoptions__item:first-child{
    margin-left: 0;
}