@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --cor1: rgb(255, 187, 0);
    --cor2: #e4e4e4;
    --fontes: Montserrat, Arial, Verdana, Helvetica, sans-serif;

    font-family: var(--fontes);
}

.container {
    width: 94%;
    margin: 0 auto;
}

.clip-star {
    background: var(--cor1);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 18px;
    width: 18px;
    transition: ease 0.3s;
}

.clip-star:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* End Common CSS */

.rodape {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
}

.rodape .container {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape .container a {
    color: black;
    cursor: pointer;
}

.rodape .container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    row-gap: 2em;
}

.footer__logocolumn p {
    font-size: 14px;
    margin-right: 3em;
}

.rodape .container ul li {
    margin-bottom: 1em;
}

.footer__columntitle {
    font-weight: bold;
    font-size: 1.2em;
}
