.number{
    font-size: 3.2rem;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.workingsteps__item {
    display: flex;
    align-items: center;
}

.workingsteps__item > p {
    font-size: 2.4rem;
}

.workingsteps__item__square {
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    width: 64px;
    height: 64px;
    transition: ease-in-out 0.3s;
    top: 0;
    position: relative;
    clip-path: circle(40%);
}

.workingsteps__item__square:hover {
    top: -10px;
}
