.hero__texto {
    min-height: 30rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.hero__texto h1 {
    font-size: 5.12rem;
    font-weight: bold;
    line-height: 5rem;
}

.yellowtext {
    color:var(--cor1);
}

.hero__texto p {
    font-size: 1.45rem;
    line-height: 2.4rem;
}

.hero__texto button {
    border-style: none;
    background-color: #000000;
    border-radius: 20px;
    max-width: 50%;
    padding: 1.5rem 0;
    font-size: 1.76rem;
    color: var(--cor1);
    cursor: pointer;
    transition: 0.3s;
}

.hero__texto button:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
}