.hero__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 96px;
}

.hero__texto h1 {
    font-size: 5.12rem;
    font-weight: bold;
    line-height: 8rem;
    margin-bottom: 8px;
}

.yellowtext {
    color:var(--cor1);
}

.hero__texto p {
    color: white;
    font-size: 14.5px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero__texto button {
    border-style: none;
    background-color: #000000;
    border-radius: 20px;
    width: 50%;
    padding: 15px 0;
    font-size: 1.76rem;
    color: var(--cor1);
    cursor: pointer;
    transition: 0.3s;
}

.hero__texto button:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
}